@media (max-width: 1200px) {
    .container {
      display: block;
    }
  }
  
  @media (max-width: 600px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .header-title {
      font-size: 30px;
    }
    .nav {
      flex-direction: row;
      justify-content: space-between;
    }
    .top {
      flex-direction: column-reverse;
    }
    .grid-content-tile {
      width: calc(100%/3);
    }
    .header {
      padding-top: 0;
    }
  
    .nav-link-hyper-main {
      font-size: 20px;
    }
  }
  @media (min-width: 1800px) {
    .header-title {
      font-size: 60px;
    }
    .header-content {
      font-size: 2.2rem;
      line-height: 3rem;
    }
    .nav-link p {
      font-size: 3rem;
    }
    .grid-content-tile p {
      font-size: 3rem;
    }
    .footer .footer-text {
      font-size: 2rem;
    }
  }
  